git+https://github.com/adsabs/ADSPipelineUtils.git@v1.2.8
alembic==0.9.1
requests==2.20.0
elasticsearch_dsl==6.1.0
elasticsearch2==2.5.0
future==0.18.2
importlib_metadata==1.6.0
ipaddress==1.0.23
psycopg2==2.8.3
