git+https://github.com/adsabs/ADSGoogleConnector.git@v0.0.4
adsputils==1.4.3
elasticsearch_dsl==6.1.0
elasticsearch2==2.5.0
future==0.18.2
importlib_metadata==1.6.0
ipaddress==1.0.23
#psycopg2==2.8.3
psycopg2-binary
# pull from a specific commit of grapi (for graylog api)
git+https://github.com/interputed/grapi.git@8438be4da1ba7374e216449303beb50d41712f10
